@page
@using System.Diagnostics
@model BudgetBase.Web.Razor.Pages.ErrorModel
@{
    Layout = null;
    ViewData["Title"] = $"Error {Model.StatusCode}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budgetbase - Personal Finances Made Simple</title>
    <meta name="description" content="Keep track of all your money, bank accounts and spending in one place, so you stay organized and in control of your finances.">
    <meta name="robots" content="index, follow">
    <link href="~/dist/landing/css/bootstrap.min.css" id="bootstrap-style" class="theme-opt" rel="stylesheet" type="text/css" />
    <link href="~/dist/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/dist/landing/css/style.min.css" id="color-opt" class="theme-opt" rel="stylesheet" type="text/css" />
    <link href="~/dist/css/landing.custom.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
</head>
<body>
    <section class="bg-home d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12 text-center">
                    @if (string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <div class="text-uppercase mt-4 display-3">Unexpected Error</div>
                        <p class="text-muted para-desc mx-auto">An error occurred while processing your request.</p>
                    }
                    else
                    {
                        <div class="text-uppercase mt-4 display-3">Error @Model.StatusCode</div>
                        <p class="text-muted para-desc mx-auto">@Model.ErrorMessage</p>
                    }
                    @if (Model.ShowRequestId)
                    {
                        <p class="text-muted para-desc mx-auto"><strong>Request ID:</strong> <code>@Model.RequestId</code>.</p>
                    }
                    else
                    {
                        <p class="text-muted para-desc mx-auto"><strong>Request ID:</strong> <code>@Activity.Current?.Id</code>.</p>
                    }
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-md-12 text-center">
                    <a asp-page="Index" asp-area="" class="btn btn-dark mt-4 ms-2">Return To Homepage</a>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section>
    <script src="~/dist/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
    <script src="~/dist/js/plugins.init.js"></script>
    <!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
    <script src="~/dist/landing/js/app.js"></script>
</body>
</html>

