@page
@model BudgetBase.Web.Razor.Pages.IndexModel
@{
    ViewData["Title"] = "Terms and Conditions";
}
<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100" style="background: url('assets/images/1.jpg') center center;">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h3 class="title mb-0">@ViewData["Title"]</h3>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="~/">Home</a></li>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" height="15">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                    </svg>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>1. Introduction</h2>
                        <p>Welcome to <i>budgetbase</i>! These Terms and Conditions ("Terms") govern your use of our website and the <i>budgetbase</i> service (the "Service"). By accessing or using our Service, you agree to be bound by these Terms. If you do not agree to these Terms, you may not use the Service.</p>

                        <h2>2. Eligibility</h2>
                        <p>You must be at least 18 years old to use our Service. By using the Service, you represent and warrant that you meet this age requirement.</p>

                        <h2>3. Account Registration</h2>
                        <p>To use certain features of the Service, you may be required to register for an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete. You are responsible for safeguarding your password and any activities or actions under your account.</p>

                        <h2>4. Use of the Service</h2>
                        <p>You agree to use the Service only for lawful purposes and in a way that does not infringe the rights of others or restrict or inhibit their use and enjoyment of the Service. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within the Service.</p>

                        <h2>5. Content Ownership</h2>
                        <p>All content provided on the Service, including text, graphics, logos, images, and software, is the property of <i>budgetbase</i> or its content suppliers and is protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, or otherwise use the content except as expressly permitted by <i>budgetbase</i>.</p>

                        <h2>6. User-Generated Content</h2>
                        <p>You may be allowed to submit content to the Service, including but not limited to text, images, and other media ("User Content"). You retain ownership of your User Content, but by submitting it, you grant <i>budgetbase</i> a worldwide, non-exclusive, royalty-free license to use, copy, modify, distribute, and display such content in connection with the Service.</p>

                        <h2>7. Privacy</h2>
                        <p>Your use of the Service is also governed by our Privacy Policy, which explains how we collect, use, and disclose information that pertains to your privacy. By using the Service, you agree to the terms outlined in our Privacy Policy.</p>

                        <h2>8. Subscription and Payments</h2>
                        <p>Certain features of the Service may require a subscription or payment. By subscribing, you agree to pay the applicable fees for the chosen plan. All payments are non-refundable unless stated otherwise.</p>

                        <h2>9. Termination</h2>
                        <p>We may terminate or suspend your account and access to the Service, without prior notice or liability, for any reason, including if you breach these Terms. Upon termination, your right to use the Service will immediately cease.</p>

                        <h2>10. Limitation of Liability</h2>
                        <p>To the maximum extent permitted by applicable law, <i>budgetbase</i> and its affiliates, officers, employees, agents, partners, and licensors shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other intangible losses, resulting from (i) your use or inability to use the Service; (ii) any unauthorized access to or use of our servers and/or any personal information stored therein; (iii) any interruption or cessation of transmission to or from the Service; (iv) any bugs, viruses, Trojan horses, or the like that may be transmitted to or through our Service by any third party; (v) any errors or omissions in any content or for any loss or damage incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available through the Service; and/or (vi) the defamatory, offensive, or illegal conduct of any third party.</p>

                        <h2>11. Changes to Terms</h2>
                        <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion. Your continued use of the Service after the changes have been made will constitute your acceptance of the new Terms.</p>

                        <h2>12. Governing Law</h2>
                        <p>These Terms shall be governed and construed in accordance with the laws of Portugal, without regard to its conflict of law provisions.</p>

                        <h2>13. Contact Us</h2>
                        <p>If you have any questions about these Terms, please contact us at legal[@@]budgetbase.app.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>