@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="d-md-flex justify-content-between align-items-center">
    <h5 class="mb-0">Profile</h5>

    @await Component.InvokeAsync("Breadcrumb", new { breadcrumbModels = Model.Breadcrumbs })
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card border-0 rounded shadow">
            <div class="p-4 border-bottom-zinc-200">
                <h5 class="title mb-0">@ViewData["Title"]</h5>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <form id="change-password-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.OldPassword"></label>
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.NewPassword"></label>
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-dark">Update password</button>
                    </form>
                    <partial name="_StatusMessage" for="StatusMessage" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
