<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="#">
                <img src="~/assets/images/logo-dark.png" height="24" class="logo-light-mode" alt="">
                <img src="~/assets/images/logo-light.png" height="24" class="logo-dark-mode" alt="">
            </a>
        </div>

        <!-- Logo End -->
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <!--Login button Start-->
        <partial name="_LoginPartial" />
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu" id="navmenu-nav">
                <li class="has-submenu">
                    <a href="~/#home">Home</a>
                </li>
                <li class="has-submenu">
                    <a href="~/#features">Features</a>
                </li>
                <li class="has-submenu">
                    <a href="~/#pricing">Pricing</a>
                </li>
                <li class="has-submenu">
                    <a href="~/#blog">Blog</a>
                </li>
                <li class="has-submenu">
                    <a href="~/#contribute">Contribute</a>
                </li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</header>