@page "/auth/signout"
@model LogoutModel
@{
    ViewData["Title"] = "Sign out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully signed out of the application.</p>
    <p><a asp-page="Index">Click here</a> to go back to the homepage.</p>
</header>
