@page
@using BudgetBase.Core.Domain.Entities;
@model BudgetBase.Web.Razor.Areas.App.Pages.Rules.RuleEditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="d-md-flex justify-content-between align-items-center">
    <h5 class="mb-0  d-none d-lg-block">@ViewData["Title"]</h5>

    @await Component.InvokeAsync("Breadcrumb", new { breadcrumbModels = Model.Breadcrumbs })
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card rounded shadow">
            <div class="p-4 border-bottom">
                <h5 class="title mb-0">Rule</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="Rule.Id" />
                    <input type="hidden" asp-for="Rule.TransactionRulesGroupId" />
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Rule.Name" class="form-control" />
                            <label asp-for="Rule.Name"></label>
                            <span asp-validation-for="Rule.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <select asp-for="Rule.TransactionRuleFieldId" class="form-control" asp-items="@(ViewData["TransactionRuleFieldId"] as SelectList)">
                                <option value=""></option>
                            </select>
                            <label asp-for="Rule.TransactionRuleFieldId" class="control-label"></label>
                            <span asp-validation-for="Rule.TransactionRuleFieldId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <select asp-for="Rule.TransactionRuleConditionId" class="form-control" asp-items="@(ViewData["TransactionRuleConditionId"] as SelectList)">
                                <option value=""></option>
                            </select>
                            <label asp-for="Rule.TransactionRuleConditionId" class="control-label"></label>
                            <span asp-validation-for="Rule.TransactionRuleConditionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-floating">
                            <input asp-for="Rule.Value" class="form-control" />
                            <label asp-for="Rule.Value"></label>
                            <span asp-validation-for="Rule.Value" class="text-danger"></span>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <a class="btn btn-outline-primary" asp-page="./Index" asp-route-groupId="@Request.Query["groupId"]">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
