.pages-heading{
    .title {
        font-size: 32px !important;
        letter-spacing: 1px;
    }
}

.position-breadcrumb {
    position: absolute;
    top: 100%;
    right: 12px;
    left: 12px;
    transform: translateY(-50%);
    text-align: center;
    z-index: 1;
}

.breadcrumb {
    letter-spacing: 0.5px;
    padding: 8px 24px;
    display: block;

    .breadcrumb-item {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        padding-left: 0;
        display: inline-block;
        
        a {
            color: $muted;

            &:hover {
                color: $dark;
            }
        }

        &.active {
            color: $dark;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}