//
// _table.scss
//

//Table
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    background-color: $table-bg;
    font-size: 14px;

    .table {
        thead {
            th {
                color: $muted;
                font-weight: normal;
            }
        }

        td,
        th {
            vertical-align: middle;
        }

        &.table-nowrap {
            th,
            td {
                white-space: nowrap;
            }
        }

        & > :not(:first-child) {
            border-top: none !important;
        }

        & > :not(caption) > * > * {
            background-color: transparent !important;
        }
    }

    .table-center {
        th {
            vertical-align: middle !important;
        }

        tbody {
            tr {
                &:hover {
                    color: $dark;
                    background-color: $border-zinc-200;
                }
            }
        }

        &.invoice-tb {
            th,
            td {
                text-align: end;
            }
        }
    }
}
