.breadcrumb {
    .breadcrumb-item {
        &:after {
            content: "" !important;
        }
    }
}

#datepicker {
    width: 197px
}

.easepick-wrapper {
    z-index: 1001;
}

.page-wrapper {
    .sidebar-wrapper {
        .sidebar-menu {
            .sidebar-dropdown {
                a {
                    &:after {
                        content: "" !important;
                        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nd2hpdGUnIGNsYXNzPSd3LTYgaC02Jz48cGF0aCBmaWxsLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xNi4yOCAxMS40N2EuNzUuNzUgMCAwIDEgMCAxLjA2bC03LjUgNy41YS43NS43NSAwIDAgMS0xLjA2LTEuMDZMMTQuNjkgMTIgNy43MiA1LjAzYS43NS43NSAwIDAgMSAxLjA2LTEuMDZsNy41IDcuNVonIGNsaXAtcnVsZT0nZXZlbm9kZCcgLz48L3N2Zz4=");
                        background-size: cover;
                        display: block;
                        width: 10px;
                        height: 10px;
                        margin-top: 5px;
                    }
                }

                .sidebar-submenu {
                    ul {
                        li {
                            a {
                                &:before {
                                    content: "•" !important;
                                    width: 16px;
                                    text-align: center;
                                }

                                &:after {
                                    background-image: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#output-icon {
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    font-size: 30px;
    margin-right: 10px;
}