@page
@model BudgetBase.Web.Razor.Areas.App.Pages.Imports.ImportDeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="d-md-flex justify-content-between align-items-center">
    <h5 class="mb-0  d-none d-lg-block">@ViewData["Title"]</h5>

    @await Component.InvokeAsync("Breadcrumb", new { breadcrumbModels = Model.Breadcrumbs })
</div>
<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card rounded shadow">
            <div class="p-4 border-bottom-zinc-200">
                <h5 class="title mb-0">Import</h5>
            </div>
            <div class="card-body">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <select asp-for="Import.CountryId" class="form-control" asp-items="@(ViewData["CountryId"] as SelectList)" disabled></select>
                        <label asp-for="Import.CountryId" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <select asp-for="Import.BankId" class="form-control" asp-items="@(ViewData["BankId"] as SelectList)" disabled></select>
                        <label asp-for="Import.BankId" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <select asp-for="Import.SourceAccountId" class="form-control" asp-items="@(ViewData["SourceAccountId"] as SelectList)" disabled>
                            <option value=""></option>
                        </select>
                        <label asp-for="Import.SourceAccountId" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="Import.FileName" class="form-control" disabled />
                        <label asp-for="Import.FileName" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <div class="form-check">
                            <input asp-for="Import.InsertDuplicates" class="form-check-input" id="insertDuplicates" type="checkbox" disabled>
                            <label class="form-check-label" for="insertDuplicates" asp-for="Import.InsertDuplicates">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <div class="form-check">
                            <input asp-for="Import.IgnoreRules" class="form-check-input" id="ignoreRules" type="checkbox" disabled>
                            <label class="form-check-label" for="ignoreRules" asp-for="Import.IgnoreRules">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <form method="post">
                        <input type="hidden" asp-for="Import.Id" />
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modal-import" class="btn btn-danger m-1">Delete</a>
                        <a class="btn btn-outline-dark" asp-page="./Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-import" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded shadow border-0">
            <div class="modal-body py-5">
                <div class="text-center">
                    <div class="icon d-flex align-items-center justify-content-center bg-soft-danger rounded-circle mx-auto" style="height: 95px; width:95px;">
                        <h1 class="mb-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" height="45">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>
                        </h1>
                    </div>
                    <div class="mt-4">
                        <h4>Delete Rule</h4>
                        <p class="text-muted">Are you sure you want to delete the import?<br />This will delete all XX related transactions.</p>
                        <div class="mt-4">
                            <form method="post">
                                <input type="hidden" asp-for="Import.Id" />
                                <input type="submit" value="Yes, delete it!" class="btn btn-danger" />
                                <a class="btn btn-outline-secondary" data-bs-dismiss="modal">No, keep it.</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
